<div class="btn-toolbar mb-2" role="toolbar" aria-label="Canvas Toolbar to edit">
  <div class="btn-group me-2" role="group" aria-label="Terrain Masks">
    <button type="button" class="btn btn-light tooltipBtn" title="Set Blocked Terrain" id="tooltipBlockedTerrain" data-mask="0" data-layer="terrain">
      <i class="bi bi-x-square-fill"></i>
    </button>
    <button type="button" class="btn btn-light tooltipBtn" title="Set Basic Terrain" id="tooltipWalkableTerrain" data-mask="1" data-layer="terrain">
      <i class="bi bi-square"></i>
    </button>
    <button type="button" class="btn btn-light tooltipBtn" title="Set Grass Terrain" id="tooltipBlockedTerrain" data-mask="2" data-layer="terrain">
      <i class="bi bi-square-fill text-success"></i>
    </button>
    <button type="button" class="btn btn-light tooltipBtn" title="Set Grass Terrain" id="tooltipBlockedTerrain" data-mask="3" data-layer="terrain">
      <i class="bi bi-square-fill text-primary"></i>
    </button>

  </div>
  <div class="btn-group">
  </div>
<!--   <div class="btn-group me-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary">5</button>
    <button type="button" class="btn btn-secondary">6</button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-info">8</button>
  </div> -->
</div>