asgiref==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
Django==4.0.6
django-bootstrap5==21.3
djangorestframework==3.13.1
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.13.2
hyperframe==6.0.1
numpy==1.23.1
Pillow==9.2.0
priority==2.0.0
psycopg2-binary==2.9.3
pymemcache==3.5.2
pytz==2022.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
toml==0.10.2
wsproto==1.1.0
