{% extends "registration/base.html" %}

{% load django_bootstrap5 %}

{% block registration_title %}Enter new password{% endblock %}

{% block registration_content %}
<form method="POST" action="">
  {% csrf_token %}
  <p class="mb-3">
    Please enter your new password twice so we can verify you typed it in correctly.
  </p>

  <div class="form-floating">
    {% bootstrap_field form.new_password1 %}
  </div>
  <div class="form-floating">
    {% bootstrap_field form.new_password2 %}
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
</form>
{% endblock %}