{% extends "base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block additional_nav_links %}
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/campaigns/">Campaigns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="/campaigns/{{ object.campaign.uuid }}/">{{ object.campaign.name }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/maps/{{ object.uuid }}/">{{ object.name }}</a>
  </li>
{% endblock %}

{% block extra_head %}
<style type="text/css">
  #world-canvas {
    width:  100%;
    height:  600px;
    margin: 0px;
    padding: 0px;
  }
  #layer_sidebar {
    max-height: 700px;
    min-height: 700px;
    overflow-y: auto;
  }
  #detail_sidebar {
    max-height: 700px;
    min-height: 700px;
    overflow-y: auto;
  }
  .list-group-item.over {
    border: 3px dotted #666;
  }
  #world_container {
    position: relative;
  }
  #drop_file_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999; 
  }
  #drop_file_information {
    position:  fixed;
    left: 50%;
    top:  50%;
    width:  500px;
    height:  600px;
    margin-left:  -250px;
    margin-top:  -300px;
    z-index: 9999999;
  }
  #bottom_toolbar_container {
    height:  8px;
  }
  #bottom_toolbar_container .offcanvas-header {
    position: relative;
    bottom: 0px;
    left: 0;
    padding: 0 16px;
    margin: 0;
    height: 20px;
  }
  #offcanvasBottom {
    height:  400px;
  }
  #offcanvasBottom .row:first-child {
    height:  100%;
  }
  #cb_file_container {
    height:  100%;
  }
  .bottom_toolbar_button {
    position: relative;
    bottom: 28px;
    left: 0;
  }
  #layer_list_group .list-group-item.active {
    color: var(--bs-list-group-color);
  }

</style>
{% endblock %}

{% block main_content %}
<div class="container-fluid" id="world_container">

  <div id="drop_file_container" class="border border-5 bg-light rounded border-dark" style="--bs-bg-opacity: .9;" rv-show="is_dragging">
    <div class="position-absolute top-0 end-0"><button class="btn btn-link" rv-on-click="close"><i class="bi bi-x"></i></button></div>
    <div id="drop_file_information" class="bg-dark rounded text-white text-center">
      <div rv-show="is_valid_state">
        <p class="display-1" style="font-size: 10rem;"><i class="bi bi-download"></i></p>
        <div class="bg-secondary p-2 m-4 display-5 rounded-pill">
          Upload Asset to {layer_name}
        </div>
        <div class="card text-bg-dark position-absolute bottom-0" style="width: 100%;">
          <div class="card-body p-0">
            <div class="badge text-bg-light">
              <i class="bi bi-filetype-jpg" style="font-size: 3rem;"></i><br/>
            </div>
            <div class="badge text-bg-light">
              <i class="bi bi-filetype-png" style="font-size: 3rem;"></i><br/>
            </div>
          </div>
          <div class="card-footer">
            Supported File Types
          </div>
        </div>
      </div>
      <div rv-show="is_valid_state | not">
        <div class="bg-secondary p-2 m-4 display-5 rounded-pill">
          Please choose a layer before attemping to upload a file.
        </div>
      </div>
    </div>
  </div>
  <h1>{{ object.name }}</h1>
  <small>Cols: {{ object.world_x_cols }} Rows: {{ object.world_y_rows }}</small>
  <div class="row">

    <div class="col-2">
      <div class="card mt-4">
        <div class="card-body">
          <div id="map_details">
            <div class="accordion " id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed p-2 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Map Details
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="mb-3">
                      <label class="form-label">Scale</label>
                      <input type="number" class="form-control" name="scale" rv-value="tile_scale" rv-on-change="on_change">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Tile Size</label>
                      <input type="number" class="form-control" name="tile_size" rv-value="tile_size" rv-on-change="on_change">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="layer_sidebar" class="mt-4">
            {% include "maps/_partials/nav_toolbar.html" %}
            {% include "maps/_components/layer_list_item.html" %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card mt-4">
        <div class="card-body">
          {% include "maps/_partials/toolbar.html" %}
          <canvas id="world-canvas" height="600px"></canvas>
          <div class="row">
            <div class="col p-2">
              <button id="saveMapButton" class="btn btn-primary float-end">Save Map</button>
              <button id="resetMapButton" class="btn btn-danger float-end">Reset Map</button>
              <button id="debug" class="btn btn-danger float-end">Debug</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card mt-4">
        <div class="card-body">
          <div id="detail_sidebar">
            {% include "maps/_components/cp_layer_details.html" with form=component_forms.layer_details %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "maps/_partials/bottom_toolbar.html" %}
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static "tinybind/tinybind.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/fabric/fabric.min.js" %}"></script>

<script type="text/javascript" src="{% static "maps/js/components/assets.js" %}"></script>
<script type="text/javascript" src="{% static "maps/js/components/map_details.js" %}"></script>
<script type="text/javascript" src="{% static "maps/js/components/drag_drop_asset.js" %}"></script>
<script type="text/javascript" src="{% static "maps/js/content_browser_controller.js" %}"></script>
<script type="text/javascript" src="{% static "maps/js/layer_controller.js" %}"></script>
<script type="text/javascript" src="{% static "maps/js/detail_controller.js" %}"></script>
<script type="text/javascript" src="{% static "maps/js/world_controller.js" %}"></script>

<script type="text/javascript">
  function select_contenteditable_text(node) {

    if (document.body.createTextRange) {
        const range = document.body.createTextRange();
        range.moveToElementText(node);
        range.select();
    } else if (window.getSelection) {
        const selection = window.getSelection();
        const range = document.createRange();
        range.selectNodeContents(node);
        selection.removeAllRanges();
        selection.addRange(range);
    } else {
        console.warn("Could not select text in node: Unsupported browser.");
    }
}
(function() {
  var assets = {{ assets|safe }};
  tinybind.configure({
    handler: function(target, event, binding) {
      // console.log(target);
      // console.log(event);
      // console.log(binding);
      this.call(target, event, binding.view.models)
    }
  });
  var layerController = new LayerController();
  var detailController = new DetailController();
  var contentBrowserController = new ContentBrowserController('{{ object.uuid }}');
  
  var mapDetailsComponent = new MapDetailsComponent({{ object.tile_scale }}, {{ object.tile_size }});
  var dragDropUploaderComponent = new DragDropAssetUploaderComponent('world_container', '{{ object.uuid }}');


  window.world_controller = new WorldController(
    'world-canvas',
    '{{ object.uuid }}',
    {{ object.world_x_cols }},
    {{ object.world_y_rows }},
    {{ object.tile_size }},
    layerController,
    detailController,
    contentBrowserController,
    mapDetailsComponent,
    dragDropUploaderComponent);

  {% if object.map_layers_list %}
  window.world_controller.populate_layers_from_json({{ object.map_layers_list|safe }});
  window.world_controller.fill_terrain_mask({{ object.map_layers_list.0.masks }});
  {% else %}
  window.world_canvas.fill_terrain_mask(window.world_canvas.generate_empty_terrain_mask_array());
  {% endif %}


  // window.fileuploaderBinding = tinybind.bind(document.getElementById('drop_file_container'), fileUploadModel);
  // window.layerBinding = tinybind.bind(document.getElementById("layer_sidebar"), layerModels);
  // window.detailBinding = tinybind.bind(document.getElementById("detail_sidebar"), componentDetailModels);

  // window.contentBrowser = new ContentBrowserWrapper(contentBrowserModel);
  
  //customElements.define('component-forms', LayerDetails);
  // window.world_canvas = new WorldCanvas(
  //   'world-canvas',
  //   {{ object.world_x_cols }},
  //   {{ object.world_y_rows }},
  //   '{{ object.uuid }}',
  //   {{ object.tile_size }},
  //   layerModels);
  

})();

</script>
{% endblock %}

