{% extends "worlds/base.html" %}

{% load static %}

{% block extra_head %}
<style type="text/css">
  #world-canvas {
    width:  100%;
    height:  600px;
    margin: 0px;
    padding: 0px;
  }
  #layer_sidebar {
    height: 100%;
  }
  .list-group-item.over {
    border: 3px dotted #666;
  }
</style>
{% endblock %}

{% block main_content %}
<div class="container">
  <h1>{{ object.name }}</h1>
  <small>Cols: {{ object.world_x_cols }} Rows: {{ object.world_y_rows }}</small>
  <div class="row">
    <div class="col-3">
      <div class="card mt-4">
        <div class="card-body">
          <div id="layer_sidebar">
            {% include "worlds/_partials/nav_toolbar.html" %}
            <ol class="list-group list-group-numbered" id="layer_list_group">
              <li class="list-group-item d-flex justify-content-between align-items-start" data-layer-uuid="{item.uuid}" rv-each-item="items" rv-on-dragstart="drag_start" rv-on-dragend="drag_end" rv-on-dragenter="drag_enter" rv-on-dragleave="drag_leave" rv-on-drop="drag_drop" rv-on-dragdrop="dragdrop" rv-on-dragover="drag_over" draggable="true" >
                <div class="ms-2 me-auto">
                  <div class="fw-bold" rv-on-blur="edit_name" rv-on-click="select_text" contenteditable="true" >{item.name}</div>
                </div>
                <span class="badge bg-primary rounded-pill">{item.obj_count}</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-4">
        <div class="card-body">
          {% include "worlds/_partials/toolbar.html" %}
          <canvas id="world-canvas" height="600px"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col p-2">
      <button id="saveMapButton" class="btn btn-primary float-end">Save Map</button>
      <button id="resetMapButton" class="btn btn-danger float-end">Reset Map</button>
      <button id="debug" class="btn btn-danger float-end">Debug</button>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static "tinybind/tinybind.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/fabric/fabric.min.js" %}"></script>
<script type="text/javascript" src="{% static "worlds/js/world_canvas.js" %}"></script>
<script type="text/javascript">
(function() {
  tinybind.configure({
    handler: function(target, event, binding) {
      this.call(target, event, binding.view.models)
    }
  });
  var dragSrcIndex = null;
  var layerModels = {
    items: [],
    map: {},
    drag_start(event, model) {
      this.style.opacity = '0.4';
      dragSrcIndex = model.$index;
    },
    drag_end(event, model) {
      this.style.opacity = '1';

      var children = document.getElementById('layer_list_group').children;
      for(var i=0; i<children.length; i++){
          var child = children[i];
          child.classList.remove('over');
      }
    },
    drag_enter(event, model) {
      event.preventDefault();
      this.classList.add('over');
    },
    drag_leave(event, model) {
      event.preventDefault();
      this.classList.remove('over');
    },
    drag_over(event, model) {
      event.preventDefault();
    },
    drag_drop(event, model) {
      // event.stopPropagation();
      if (dragSrcIndex !== model.$index) {
        _dragged_item = model.$parent.items.splice(dragSrcIndex, 1);
        model.$parent.items.splice(model.$index-1, 0, _dragged_item[0]);
      }

      return false;
    },
    edit_name(event, model) {
      model.item.set_name(this.textContent);
    },
    select_text(event, modal) {
      select_contenteditable_text(this);
    },
    push(layer) {
      //this.items[layer.uuid] = layer;
      this.items.push(layer);
      this.map[layer.uuid] = layer;
    },
    reset() {
      this.items = {};
    },
    get_length() {
      return Object.keys(this.map).length;
    },
    get_by_index(i) {
      console.log(i);
      return this.items[i];
    },
    sort() {
      this.items.sort(function (a, b) {
        return (a.value || 0) - (b.value || 0)
      })
    }
  }
  tinybind.bind(document.getElementById("layer_sidebar"), layerModels);

  window.world_canvas = new WorldCanvas(
    'world-canvas',
    {{ object.world_x_cols }},
    {{ object.world_y_rows }},
    '{{ object.uuid }}',
    layerModels);
  {% if object.world_layers %}
  window.world_canvas.fill_terrain_mask({{ object.world_layers_list }});
  {% endif %}
})();

</script>
{% endblock %}