{% extends "worlds/base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block extra_head %}
<style type="text/css">
  #world-canvas {
    width:  100%;
    height:  600px;
    margin: 0px;
    padding: 0px;
  }
  #layer_sidebar {
    max-height: 700px;
    min-height: 700px;
    overflow-y: auto;
  }
  .list-group-item.over {
    border: 3px dotted #666;
  }
</style>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
  <h1>{{ object.name }}</h1>
  <small>Cols: {{ object.world_x_cols }} Rows: {{ object.world_y_rows }}</small>
  <div class="row">
    <div class="col-2">
      <div class="card mt-4">
        <div class="card-body">
          <div id="layer_sidebar">
            {% include "worlds/_partials/nav_toolbar.html" %}
            <ol class="list-group list-group-numbered" id="layer_list_group">
              <li class="list-group-item d-flex justify-content-between align-items-start pe-0" data-layer-uuid="{item.uuid}" rv-each-item="items" rv-on-dragstart="drag_start" rv-on-dragend="drag_end" rv-on-dragenter="drag_enter" rv-on-dragleave="drag_leave" rv-on-drop="drag_drop" rv-on-dragdrop="dragdrop" rv-on-dragover="drag_over" draggable="true" rv-on-click="set_details" rv-class-active="item.active" rv-class-disabled="item | is_last_item" rv-class-bg-light="item | is_last_item" >
                <div class="ms-2 me-auto">
                  <div class="fw-bold" rv-on-blur="edit_name" rv-on-click="select_text" contenteditable="true" >{item.name}</div>
                </div>
                <span class="badge bg-primary rounded-pill">{item.obj_count}</span>
                <div rv-if="item.is_tile_layer" style="padding: 0 .70rem;"></div>
                <a href="#" class="btn btn-link text-danger" rv-on-click="remove_layer" rv-if="item.can_delete" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem;"><i class="bi bi-x"></i></a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card mt-4">
        <div class="card-body">
          {% include "worlds/_partials/toolbar.html" %}
          <canvas id="world-canvas" height="600px"></canvas>
          <div class="row">
            <div class="col p-2">
              <button id="saveMapButton" class="btn btn-primary float-end">Save Map</button>
              <button id="resetMapButton" class="btn btn-danger float-end">Reset Map</button>
              <button id="debug" class="btn btn-danger float-end">Debug</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div id="detail_sidebar">
        {% include "worlds/_components/cp_layer_details.html" with form=component_forms.layer_details %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static "tinybind/tinybind.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/fabric/fabric.min.js" %}"></script>
<script type="text/javascript" src="{% static "worlds/js/world_canvas.js" %}"></script>
<script type="text/javascript" src="{% static "worlds/js/layer_toolbar.js" %}"></script>
<script type="text/javascript" src="{% static "worlds/js/detail_toolbar.js" %}"></script>
<script type="text/javascript">
(function() {
  tinybind.configure({
    handler: function(target, event, binding) {
      this.call(target, event, binding.view.models)
    }
  });
  tinybind.formatters.is_last_item = function(layer){
    if(layer.order == 1) {
      return true;
    }
    return false;
  }
  
  window.layerBinding = tinybind.bind(document.getElementById("layer_sidebar"), layerModels);
  window.detailBinding = tinybind.bind(document.getElementById("detail_sidebar"), componentDetailModels);
  console.log(window.detailBinding);
  
  //customElements.define('component-forms', LayerDetails);
  window.world_canvas = new WorldCanvas(
    'world-canvas',
    {{ object.world_x_cols }},
    {{ object.world_y_rows }},
    '{{ object.uuid }}',
    layerModels);
  {% if object.world_layers %}
  window.world_canvas.populate_layers_from_json({{ object.world_layers_list|safe }});
  window.world_canvas.fill_terrain_mask({{ object.world_layers_list.0.masks }});
  {% endif %}
})();

</script>
{% endblock %}